/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  /* So 100% means 100% */
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.wrapper {
  margin: 0;
  padding: 0;
}

mat-toolbar{
  z-index: 10;
  position: relative;
}

mat-toolbar-row {
  justify-content: space-between;
}

mat-toolbar mat-icon {
  vertical-align: middle;
}

.toolbar-app-name{
  font-size: 1.25em;
  font-weight: bold;
  padding-inline-start: 2em;
  padding-inline-end: 2em;
}

.toolbar-app-logo{
  height: 2em;
}

.remaining-space-filler {
  flex: 1 1 auto;
}


.page-content{
  position: fixed;
   height: 100%;
   min-height: 100%;
   width: 100%;
   min-width: 100%;
}

mat-sidenav-container{
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  flex: 1;
  overflow: scroll;
}

.app-main-sidenav{
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  width: 30vw;
  align-items: left;
  padding: 0.5em;
}

.app-actual-content{
  margin: 1em;
  border-width: 1px;
}
